*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: sansPro-light;
    src: url(fonts/SourceSansPro-Light.otf);
}
@font-face {
    font-family: sansPro-bold;
    src: url(fonts/SourceSansPro-Bold.otf);
}
@font-face {
    font-family: sansPro-regular;
    src: url(fonts/SourceSansPro-Regular.otf);
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #000000;
    font-family: sansPro-regular,Arial, Helvetica, sans-serif;
}
header{
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 2em;
    padding-left: 2em;
    align-items: center;
    height: 10vh;
}
header h1{
    font-family: sansPro-light,Arial, Helvetica, sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 1em;
}
header h1 span{
    color: #6ead3a;
}
.nav-button{
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.nav-button p{
    border-radius: 20%;
    height: 2px;
    width: 2em;
    background-color: white;
    margin-top: 0.3em;
}
.nav-button p:first-of-type{
    margin-top: 0;
}
.nav-menu{
    z-index: 2;
    position: absolute;
    top: 100%;
    right: 0;
    width: 70%;
    background-color: #1e1e1e;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    transform: translateX(100%);
    transition: 0.5s transform ease-out;
}
.appear{
    transform: translateX(0);
}
.nav-menu a{
    text-decoration: none;
    font-family: sansPro-light,Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 1.5em;
    transition: 0.2s color ease;
}
.nav-menu a:hover{
    color: #6ead3a;
}
.nav-menu li{
    list-style: none;
}
.socials{
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid white;
}
.socials img{
    margin-top: 10em;
    width: 1.5em;
    height: 1.5em;
}
.intro{
    font-family: sansPro-regular,Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 1;
    height: 100vh;
    color: #efedef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro img{
    width: 7em;
    height: 10em;
    background-color: grey;
}
.intro h1{
    width: 70%;
    text-align: center;
    font-family: sansPro-bold,Arial, Helvetica, sans-serif;
    margin-top: 2em;
    font-size: 2em;
    font-weight: bolder;
}
.intro h2{
    color: #6ead3a;
    font-size: 1.2em;
    font-weight: lighter;
}
.intro::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 37%, 0 100%);
    background-color:#1e1e1e;
}
.about{
    padding: 5em 0;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(images/background-small.png);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.text-container{
    width: 60%;
    text-align: center;
    color: white;
    font-family: sansPro-light,Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
.text-container h1{
    font-family: sansPro-regular,Arial, Helvetica, sans-serif;
    color: #6ead3a;
}
.text-container p{
    font-weight: lighter;
}
.details{
    position: relative;
    z-index: 1;
    color: white;
    padding: 5em 2em;
}
.details h1{
    color: #efedef;
    font-size: 2em;
    font-family: sansPro-bold,Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.details h2{
    font-size: 1.5em;
    font-family: sansPro-light,Arial, Helvetica, sans-serif;
    color: #6ead3a;
}

.detail-text{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 1em;
}
.details::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 2em;
    left: 0;
    height: 15em;
    width: 15em;
    clip-path: circle(50% at 50% 50%);
    background-color:#1e1e1e;
}
.details::after{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 2em;
    right: 0;
    height: 7em;
    width: 7em;
    clip-path: circle(50% at 50% 50%);
    background-color:#1e1e1e;
}
.work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5em 2em;
    background-color: #1e1e1e;
}
.work h1{
    color: #efedef;
    font-size: 2em;
    font-family: sansPro-bold,Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.work h2{
    font-size: 1.5em;
    font-family: sansPro-light,Arial, Helvetica, sans-serif;
    color: #6ead3a;
}
.project{
    margin-top: 2em;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}
.project a{
    opacity: 0.5;
    text-decoration: none;
    transition: 0.3s opacity ease;
    height: 8em;
}
.project a:hover{
    opacity: 1;
}
.project img{
    width: 100%;
    height: 100%;
}
.project a:nth-child(1){
    width: 39%;
}
.project a:nth-child(2){
    width: 59%;
}
.project a:nth-child(3){
    width: 99%;
}
.project a:nth-child(4){
    width: 59%;
}
.project a:nth-child(5){
    width: 39%;
}
footer{
    position: relative;
    padding: 2em 0;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    color: white;
    gap: 2em;
}
footer::after{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 2em;
    left: -2em;
    height: 7em;
    width: 7em;
    clip-path: circle(50% at 50% 50%);
    background-color:#1e1e1e;
}
footer h1{
    color: #efedef;
    font-size: 1.5em;
    font-family: sansPro-light,Arial, Helvetica, sans-serif;
}
footer span{
    color: #6ead3a;
}
footer a{
    text-decoration: none;
  
}
.about-links a{
    font-size: 1.1em;
    font-weight: lighter;
    transition: 0.3s opacity ease;
    opacity: 0.5;
    font-family: sansPro-light,Arial, Helvetica, sans-serif;
    color: white;
}
footer  a:hover{
    opacity: 1;
}
footer p{
    font-size: 0.7em;
    color: grey;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    gap: 1em;
}
.section:last-of-type{
    margin-bottom: 0;
}
.section h1{
    font-family: sansPro-bold,Arial, Helvetica, sans-serif;
    font-size:1.3em;
}
.container h1{
    text-decoration: underline;
    text-decoration-color: #6ead3a;
}
.container img{
    width: 2em;
    height: 2em;
}
.socail img a{
    opacity: 1;
}
.social-img{
    display: grid;
    grid-template-columns: 2em 2em;
    grid-column-gap: 0.6em;
    grid-row-gap: 0.6em;
}
.social-img img{
    transition: 0.4s transform ease;
}
.social-img img:hover{
    transform: rotate(360deg);
}
.about-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4em;
}
@media  (min-width: 900px) {
    header h1{
        font-size: 1.2em;
    }
    .nav-menu{
        width: 40%;
    }
    .intro img{
        width: 10em;
        height: 13em;
    }
    .intro h1{
        font-size: 3em;
    }
    .intro h2{
        font-size: 1.5em;
    }
    .about{
        padding: 10em 0;
        flex-direction: row;
        gap: 10em;
    }
    .text-container{
        flex-direction: column;
        width: 20%;
        gap: 1em;
    }
    .text-container h1{
        font-size: 1.5em;
    }
    .text-container p{
        font-size: 1.2em;
    }
    .details{
        width: 60%;
        margin: 0 auto;
    }
    .detail-text{
        font-size: 1.2em;
    }
    .project{
        width: 60%;
    }
    .project a{
        height: 20em;
    }
    footer{
        gap: 3em;
    }
    .container{
        width: 60%;
        flex-direction: row;
        align-items: flex-start;
    }
    .container h1{
        font-size: 1.7em;
    }
    .container a{
        font-size: 1.4em;
    }
    .section{
        margin-bottom: 0;
    }
    .social-img{
        display: flex;
    }
    .social-img img{
        width: 1.8em;
        height: 1.8em
    }
}

